body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    text-align: center;
    overflow-x: hidden;
}

.page-transition {
    padding: 50px;
    margin: 100px auto;
    width: 60%;
    background-color: #1e1e1e;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.hidden {
    display: none;
}

button {
    padding: 15px 30px;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.delayed-button {
    opacity: 0;
    animation: fadeInButton 1s ease forwards;
    animation-delay: 1s;
}

@keyframes fadeInButton {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#reaction-button {
    font-size: 1.5em;
    padding: 20px 40px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

#reaction-button.wait {
    background-color: red;
    cursor: not-allowed;
}

#reaction-button.click {
    background-color: green;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

#results-list, #average-time, #music-genre {
    font-size: 1.2em;
    margin-top: 10px;
}
